/* line 1, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #333;
}

/* line 6, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
h1 {
  font-size: 2.618em;
}

/* line 9, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
h2 {
  font-size: 1.618em;
}

/* line 12, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
a {
  font-weight: bold;
  text-decoration: none;
  color: #428bca;
}
/* line 16, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
a:visited {
  color: #428bca;
}

/* line 20, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
#title {
  text-align: center;
}

/* line 24, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
#posts li {
  list-style-type: none;
}

/* line 28, /Users/ryan.wilson-perkin/dev/repos/ryanwilsonperkin.github.io/css/main.scss */
.post {
  margin: 0 auto;
  max-width: 700px;
}
