{% assign description = page.description | default: site.description %}
{% assign title = page.title | default: site.title %}
{% assign url = page.url | absolute_url %}
{% assign image_url = page.image | default: site.image | absolute_url %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description }}">

<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image_url }}">
<meta property="og:type" content="{% if page.id %}article{% else %}website{% endif %}" />
<meta property="og:locale" content="en_CA" />

<meta property="twitter:site" content="{{ url }}">
<meta property="twitter:image" content="{{ image_url }}">
<meta property="twitter:card" content="summary_large_image">

<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="/css/main.css">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:700,700italic|Merriweather:300,300italic,700,700italic&display=swap' rel='stylesheet' type='text/css'>